{% extends '@App/Report/archive_statistics.html.twig' %}
{% block reportTitle %}Архив НС за год{% endblock %}

{% block reportFilter %}
    <div class="col l12 s12 report__title">
        <div class="report__filter">
            <form id="reportFilter" data-mainurl="full" data-get="server" data-type="incident_archive_statistic">
                <div class="report__filter__field report_week_month">
                    <div>
                        <label for="where_created_left_date">год</label>
                        <div class="report__filter__field">
                            <input type="number" id="where_created_left_date" name="year" min="2017">
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
{% block additionJS %}
    <script src="{{ asset('build/archiveYearReport.js') }}"></script>
{% endblock %}